<div class="tab">
    <div class="column-75">
        <div class="tab-name">Модуль</div>
            <?=@$DATA['caption']?>        
			<?=$DATA['_free']?>
    </div>
        <div class="column-25 grey">
            <?=@$DATA['status']?>
            <?=@$DATA['parent']?>            
        </div>    
</div>
<div class="tab superadmin">
    <div class="tab-name superadmin">ADMIN</div>    
    <div class="column-75">    
        <h2>Параметры модуля</h2>
        <?=@$DATA['unit']?>
        <?=@$DATA['name']?>
        <?=@$DATA['position']?>                                      
    </div>
    <div class="column-25 grey">    
        <h2>Статичные данные</h2>
        <?=@$DATA['type']?>                    
    </div>    
</div>
    


