
<div class="adaptive-basket-list">
    <div class="adaptive__basket">
        <?php if(count($DATA)>0)foreach ($DATA as $item) {
            $img = func::indexMultiimage($item['multi_images'], 0);
            $count = $_SESSION['basket'][$item['id']];
            if($item['unit']=="catalog_item"){
                $price = $item['price_float'];
            } else {
                $price = $item['price_float'];
            }
            $name = trim($item['url_name']);
            if(@$item['url_desc_basket']) $name = $item['url_desc_basket'];?>

            <div class="item" data-id="<?=$item['id']?>">
                <div class="image" style="background-image:url(<?=$img?>);"></div>
                <a href="<?=$item['url'];?>" class="name" target="_blank"><?php echo $name;?></a>
                <div class="price blue bold" data-value="<?=$price?>"><?if($count>1) echo $count." x ".number_format($price,0,""," ")?> ₽</div>
                <input type="number" min="1" value="<?=$count?>" class="count jinput">
                <div class="price-count red bold"><?=number_format($price*$count,0,""," ")?> ₽</div>
                <div class="deleteTd">
                    <a
                        href="ui-32.html#"
                        class="cross btn btn-sm btn-danger removeBasketButton"
                        data-toggle="tooltip"
                        data-placement="top"
                        title="Удалить"
                    >Удалить</a>
                </div>
            </div>
        
        <?}?>
        


    </div>
</div>