@charset "UTF-8";
@import url("http://fonts.googleapis.com/css?family=Open+Sans:300,400italic,400,600");
* {
  color: #202020;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

body {
  background: url(/uploads/bg/111.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  width: 1300px !important;
  max-width: 100%;
}

.container-p {
  padding: 0 30px;
}

.mt-50 {
  margin-top: 50px;
}

.mb-50 {
  margin-bottom: 50px;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.pt-50 {
  padding-top: 50px;
}

.pb-50 {
  padding-bottom: 50px;
}

a {
  text-decoration: none;
  color: #0a6c85;
}

a:hover {
  color: #4695a8;
  text-decoration: underline;
}

.main-menu {
  background-color: #f1f1f1;
}

.top__menu {
  display: flex;
  justify-content: space-between;
  min-height: 60px;
}

.top__menu-search {
  width: 500px;
  max-width: 100%;
  align-self: center;
  position: relative;
  top: 5px;
}

.top__menu-search input {
  background-color: #f8f8f8;
  padding-right: 40px;
}

.top__menu-search img {
  width: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.top__menu-text {
  display: flex;
  align-items: center;
  max-width: 40%;
}

.top__menu-text a {
  font-size: 18px;
  margin-right: 20px;
  background-color: #0a6c85;
  color: #fff;
  height: 100%;
  padding: 20px;
}

.top__menu-text a:hover {
  background-color: #e0e0e0;
  color: #3a3a3a;
}

.top__menu-text p {
  margin-left: 1rem;
  line-height: 16px;
  margin-top: 10px;
  font-size: 0.9rem;
  font-weight: 300;
}

.top__menu-nav {
  align-items: center;
}

.top__menu-nav li {
  display: inline-block;
  margin-right: 1rem;
}

.top__menu-nav li a {
  font-size: 1rem;
  color: #4d4d4d;
}

.top__menu-nav li a:hover {
  color: #a09e9e;
}

.top__info {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 30px 0;
}

.top__info-items {
  vertical-align: middle;
}

.top__info-items:last-child {
  padding-right: 40px;
}

.top__info-items:last-child:hover {
  text-decoration: underline;
}

.top__info-cart .cart {
  margin-top: 0;
  position: relative;
}

.top__info-cart .cart .cart-counter {
  position: absolute;
  font-weight: bold;
  top: -24px;
  left: 74px;
  z-index: 11;
  font-size: 1.3rem;
  color: #fff;
}

.top__info-cart .cart span {
  display: block;
  text-align: left;
  position: relative;
  left: 10px;
}

.top__info-cart .cart img {
  width: 80px;
  opacity: .5;
}

.top__info-cart .cart:before {
  position: absolute;
  top: -24px;
  left: 65px;
  display: block;
  content: "";
  width: 30px;
  height: 30px;
  background: red;
  border-radius: 50%;
  z-index: 10;
}

.top__info-cart > div {
  margin-top: 15px;
  color: #888;
}

.info__item-title {
  font-size: 16px;
  margin-bottom: 15px;
}

.info__item-phone {
  font-size: 16px;
}

.info__item-phone > a i {
  position: relative;
  bottom: -1px;
  font-size: 1.3em;
  margin-right: 10px;
  color: #0a6c85;
}

.info__item-link {
  font-size: 16px;
}

.info__item-link > a i {
  position: relative;
  bottom: -1px;
  font-size: 1.3em;
  margin-right: 10px;
  color: #0a6c85;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo__img {
  width: 100px;
  margin-right: 5px;
}

.logo__title {
  font-weight: 700;
  font-size: 1.3em;
  line-height: 1em;
  text-transform: uppercase;
  color: #0a6c85;
}

.fa.fa-mobile {
  margin-right: 17px;
}

/************************************************
**** Secondary-menu2
************************************************/
.secondary-menu {
  background: #f3ad2c;
  background: linear-gradient(90deg, #f3ad2c 0%, #1f861f 100%);
  display: flex;
  justify-content: space-between;
}

.secondary-menu__items {
  display: flex;
  justify-content: space-between;
}

.secondary-menu__items a {
  position: relative;
  z-index: 10;
  text-align: right;
  width: 100%;
  padding: 10px 15px 20px 20px;
  color: #fff;
  text-decoration: none;
}

.secondary-menu__items a .menu-icon {
  position: absolute;
  display: block;
  width: 50px;
  height: 50px;
  top: 10px;
  right: 10px;
  z-index: 1;
}

.secondary-menu__items a:nth-child(1) .menu-icon {
  position: absolute;
  display: block;
  width: 50px;
  height: 50px;
  top: 10px;
  right: 10px;
  z-index: 1;
  background: url(/templates/front/img/logo/sprite.png) no-repeat;
  background-size: 400%;
  background-position: 0px 0px;
}

.secondary-menu__items a:nth-child(2) .menu-icon {
  position: absolute;
  display: block;
  width: 50px;
  height: 50px;
  top: 10px;
  right: 10px;
  z-index: 1;
  background: url(/templates/front/img/logo/sprite.png) no-repeat;
  background-size: 400%;
  background-position: -46px 0;
}

.secondary-menu__items a:nth-child(3) .menu-icon {
  position: absolute;
  display: block;
  width: 50px;
  height: 50px;
  top: 10px;
  right: 10px;
  z-index: 1;
  background: url(/templates/front/img/logo/sprite.png) no-repeat;
  background-size: 400%;
  background-position: -94px 0;
}

.secondary-menu__items a:nth-child(4) .menu-icon {
  position: absolute;
  display: block;
  width: 50px;
  height: 50px;
  top: 10px;
  right: 10px;
  z-index: 1;
  background: url(/templates/front/img/logo/sprite.png) no-repeat;
  background-size: 400%;
  background-position: -150px 0;
}

.secondary-menu__items a span {
  display: block;
  text-align: left;
  font-size: 1.5em;
  font-weight: 700;
  color: #fff;
}

.secondary-menu__items a div {
  font-size: 0.85em;
  text-align: left;
  color: #fff;
}

.secondary-menu__items a:nth-child(1) {
  background: transparent;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.secondary-menu__items a:nth-child(2) {
  background: #0a6c85;
}

.secondary-menu__items a:nth-child(3) {
  background: #e02020;
}

.secondary-menu__items a:nth-child(4) {
  background: transparent;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}

.secondary-menu__items a:nth-child(1):hover {
  background: rgba(0, 0, 0, 0.1);
}

.secondary-menu__items a:nth-child(2):hover {
  background: #08576b;
}

.secondary-menu__items a:nth-child(3):hover {
  background: #c42323;
}

.secondary-menu__items a:nth-child(4):hover {
  background: rgba(0, 0, 0, 0.1);
}

.secondary-menu__items .cart {
  width: 100%;
  color: #202020;
  position: relative;
  height: 100%;
}

.secondary-menu__items .cart span {
  display: block;
  margin-top: 10px;
  color: #202020;
  text-align: left;
}

.secondary-menu .secondary-menu__header-text {
  display: none;
  margin-top: 100px;
  text-align: center;
}

.secondary-menu .secondary-menu__header-text .h1 {
  color: #0a6c85;
  font-weight: bold;
}

.secondary-menu .secondary-menu__header-text p {
  font-size: 14px;
  margin: 20px 0;
}

/************************************************
**** Content
************************************************/
.section__block {
  position: relative;
  margin-bottom: 0 !important;
}

.main-background {
  background: url(../img/slider/1.jpg);
  background-size: cover;
  background-position: 0 -100px;
  position: relative;
  padding: 0px 100px;
  height: 650px;
}

.main-background .slider-text {
  width: 65%;
  padding: 20px;
  border-radius: 5px;
  margin-left: 40px;
  padding-top: 100px;
}

.main-background .slider-text__title {
  font-size: 3rem;
  color: #fff;
  font-weight: 700;
  line-height: 1em;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.main-background .slider-text__desc {
  font-size: 1.5rem;
  line-height: 2rem;
  color: #fff;
  font-weight: 500;
}

.brand {
  position: relative;
  top: -100px;
}

.brand-container {
  position: relative;
  z-index: 20;
  width: 70%;
  padding: 0 15px;
  bottom: 20px;
}

.brand-container .support__items {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.brand-container .support__items li {
  background: rgba(10, 108, 133, 0.2);
  max-width: 24%;
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 15px 10px;
  width: 100%;
  height: 100%;
  font-size: 0.85rem;
  color: #fff;
  min-height: 90px;
  cursor: pointer;
  border: 2px solid #0a6c85;
  overflow: hidden;
  background-size: cover;
  position: relative;
  z-index: 10;
}

.brand-container .support__items li:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.1);
  z-index: -1;
}

.brand-container .support__items li:after {
  content: "\2726";
  position: absolute;
  left: 10px;
  top: 5px;
  width: 10px;
  height: 10px;
}

.brand-container .support__items li.active {
  border: 2px solid #f3ad2c;
  background: rgba(243, 173, 44, 0.2);
}

.brand-container .support__items li:hover {
  border-color: #f3ad2c;
  background-color: rgba(0, 0, 0, 0.2);
}

.brand-container > div > ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.brand-container > div > ul > li {
  width: 150px !important;
}

.brand-container > div > ul > li > a img {
  width: 150px !important;
}

.swiper-container {
  position: relative;
  height: 100%;
}

.container-100 {
  width: 100% !important;
}

.news-wrapper {
  position: absolute;
  left: 70%;
  top: 400px;
  z-index: 90;
}

.news-wrapper .container {
  position: relative;
}

.news-wrapper .container .brand__news {
  position: absolute;
  top: 0;
  left: 0;
  padding: 25px;
  margin-top: 0px;
  box-sizing: border-box;
  z-index: 10;
}

.news-wrapper .container .brand__news a {
  text-decoration: none;
  cursor: pointer;
}

.news-wrapper .container .brand__news a.all-news {
  display: block;
  z-index: 11;
  color: #f3ad2c;
  text-decoration: underline;
  font-size: 1.4rem;
  margin-top: 30px;
  text-align: left;
  margin-left: 60px;
}

.news-wrapper .container .brand__news a.all-news i {
  color: #f3ad2c;
}

.news-wrapper .container .brand__news-item {
  position: relative;
  text-align: left;
  width: 260px;
  padding: 20px;
  border: 1px solid #0a6c85;
  border-radius: 5px;
}

.news-wrapper .container .brand__news-item:before {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(10, 108, 133, 0.8);
  z-index: -1;
}

.news-wrapper .container .brand__news-item__title {
  font-size: 1.1rem;
  text-transform: uppercase;
  color: #f3ad2c;
  margin-bottom: 10px;
  line-height: 1.5rem;
  font-weight: 700;
}

.news-wrapper .container .brand__news-item__title img {
  width: 100px;
  color: #f3ad2c;
  position: absolute;
  top: -10px;
  left: -58px;
  transform: rotate(25deg);
}

.news-wrapper .container .brand__news-item__text {
  font-size: 1rem;
  color: #fff;
  margin-bottom: 10px;
  font-weight: 500;
  line-height: 1.3rem;
}

.news-wrapper .container .brand__news-item__text p {
  color: #fff;
}

.news-wrapper .container .brand__news-item:last-child {
  margin-top: 20px;
}

.news-wrapper .container .brand__news-item:hover {
  box-shadow: 0px 0px 0px 2px #f3ad2c;
}

.swiper-wrapper {
  position: relative;
  height: 100% !important;
}

.slider__buttons {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.slider__buttons i {
  position: absolute;
  z-index: 30;
  top: 40%;
  transform: translateY(-50%);
  font-size: 3rem;
  color: #fff;
  cursor: pointer;
}

.slider__buttons i.la-angle-right {
  left: 65%;
  z-index: 30;
}

.swiper-button-prev {
  left: auto !important;
}

.swiper-button-next {
  right: 0 !important;
}

.block__text {
  width: 100%;
}

.block__text button {
  display: none;
}

.block__text a {
  display: block;
}

.block__links {
  margin-top: 50px;
}

.block__links a {
  display: block;
  font-weight: 900;
  margin: 15px 0;
  position: relative;
  left: 40px;
  width: 90%;
}

.block__links a i {
  position: absolute;
  left: -40px;
  top: 3px;
  color: #0a6c85;
}

.block__text .h2,
.title-text .h2 {
  margin-bottom: 20px;
  color: #5e5e5e;
  font-weight: 700;
}

.title-text .h2.white-color {
  color: #fff;
}

.title-text .h2 {
  font-size: 2.5rem;
}

.title-text.text-ferra .h2 {
  text-transform: uppercase;
  color: #0a6c85;
}

.title-text.text-architect .h2 {
  text-transform: uppercase;
  color: #e02020;
}

.title-text.text-penetreks .h2 {
  text-transform: uppercase;
  color: #1f861f;
}

.title-text p {
  font-weight: 700;
}

.block__images {
  display: flex;
  flex-wrap: wrap;
}

.block__images-item {
  height: 150px;
  width: 230px;
  overflow: hidden;
  margin: 5px;
  box-shadow: 0px 0px 39px 0px rgba(0, 0, 0, 0.26);
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  flex-grow: 1;
}

.block__images-item {
  position: relative;
}

.block__images-item:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #f3ad2c;
  background: linear-gradient(180deg, rgba(243, 173, 44, 0) 2%, white 85%);
}

.block__images-item img {
  height: 100%;
  width: 100%;
}

.block__images-item .h3 {
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  top: 120px;
  left: 10px;
}

.block__buttons {
  margin-top: 30px;
}

.block__buttons .button-cat i {
  color: #fff;
  font-size: 1.3rem;
  margin-right: 10px;
  position: relative;
  top: 3px;
}

.block__buttons .button-cat i.la-shopping-cart {
  margin-right: 0;
  margin-left: 10px;
}

.btn {
  background: linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
  border-radius: 6px;
  border: 1px solid transparent;
  display: inline-block;
  cursor: pointer;
  color: #fff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 10px 24px;
  text-decoration: none;
}

.btn:active {
  position: relative;
  top: 1px;
}

.btn:hover {
  background: linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
  background-color: #e9e9e9;
  border: 1px solid transparent;
}

.btn:focus {
  outline: none;
  box-shadow: 0 0.5rem 1rem rgba(32, 32, 32, 0.2);
}

.btn-lg {
  min-height: 70px;
  font-size: 14px;
}

.btn-danger {
  background: #e02020;
  color: #fff;
}

.btn-danger:hover {
  background: #bb1b1b;
}

.btn-primary {
  background: #0a6c85;
}

.btn-primary:hover {
  background: #095d72;
}

.btn-success {
  background: #1f861f;
  color: #fff;
}

.btn-success:hover {
  background: #186918;
}

.btn-sm {
  min-height: 30px !important;
  font-size: .8rem;
  padding: 10px 15px;
  max-height: 200px;
}

.btn-outline-primary {
  background: none;
  border: 1px solid #0a6c85;
  color: #0a6c85;
}

.btn-outline-primary:hover {
  background: #0a6c85;
  color: #fff;
}

.section__ferra {
  padding: 70px 0;
  margin-top: -100px;
  position: relative;
}

.section__architect {
  padding: 70px 0;
  background-color: #f5f5f5;
}

.section__penetreks {
  padding: 70px 0;
}

/************************************************
**** Parallax effect
************************************************/
.parallax {
  height: 800px;
  width: 100%;
  transition: initial;
}

.parallax.parallax-ferra {
  background: url(/img/parallax/111.jpg);
  background-size: 100%;
  background-position: top;
}

.parallax.parallax-architect {
  background: url(/img/parallax/22.jpg) 0 0;
  background-size: 100%;
  background-position: top;
}

.parallax.parallax-penetreks {
  background: url(/img/backgrounds/5.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
}

.parallax-wrapper {
  padding: 0;
  margin: 0;
}

.parallax__text {
  position: absolute;
  height: 700px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: #fff;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(8px);
  border-radius: 5px;
}

.parallax__text .parallax__text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.parallax__text-content {
  position: relative;
}

.parallax__text-content i {
  position: absolute;
  top: 130px;
  left: 120px;
  color: #fff;
  font-size: 8rem;
}

.parallax__text-content ul {
  position: absolute;
  top: 45px;
  right: 70px;
  list-style: none;
  padding: 50px;
  border-radius: 5px;
  box-sizing: border-box;
  max-width: 50%;
}

.parallax__text-content ul li {
  color: #fff;
  font-weight: 700;
  font-size: 1rem;
  padding: 5px 0;
}

.parallax__text-content ul li i {
  color: #fff;
  position: relative;
  font-size: 1.2rem;
  top: 2px;
  left: -10px;
}

.brand-business {
  margin: 50px 0 50px;
  width: 100%;
  padding: 0;
}

.brand-business__items {
  display: flex;
  justify-content: center;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 0;
}

.brand-business__items li {
  border: 1px solid #ccc;
  flex-grow: 1;
  border-radius: 5px;
  margin: 10px;
  background-color: #fff;
  max-width: 180px;
}

.brand-business__items li:first-child {
  margin-left: 0px;
}

.brand-business__items li:last-child {
  margin-right: 0px;
}

.brand-business__items li:hover {
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.1);
}

.brand-business__items li a {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.brand-business__items li a img {
  padding: 15px;
}

/************************************************
**** Footer
************************************************/
.footer {
  background-size: cover;
  position: absolute;
  left: 0;
  top: 50%;
  right: 0;
  bottom: 0;
  transform: translateY(-50%);
  width: 100%;
  height: 100%;
}

.center-block {
  text-align: center;
  margin: 50px auto 70px;
}

footer {
  padding: 70px 0 0;
  background: #1d1d1d;
  position: relative;
}

footer .footer__logo img {
  position: relative;
  left: -8px;
}

footer .footer__logo span {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}

footer .footer__logo-text {
  margin-top: 10px;
  text-transform: uppercase;
  font-size: 2rem;
  color: #7e7e7e;
}

footer .footer__column {
  list-style: none;
  margin-top: 20px;
  margin-bottom: 30px;
}

footer .footer__column li {
  margin: 15px 0;
  line-height: 18px;
  text-transform: uppercase;
}

footer .footer__column li a {
  font-size: 1rem;
  position: relative;
}

footer .footer__column li a:before {
  position: absolute;
  content: "\25b8";
  top: 0;
  left: -20px;
  width: 10px;
  height: 10px;
}

footer .footer__column p {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
}

footer .footer-bottom {
  margin-top: 50px;
  background: #272727;
  padding: 10px 0;
  width: 100%;
  height: 100%;
}

footer .footer-bottom__column {
  color: #fff;
}

.footer__subtitle {
  margin-top: 20px;
}

.footer__subtitle b {
  color: #fff;
}

.footer__title-text .h2 {
  text-align: center;
  font-weight: 700;
  color: #fff;
}

.divide {
  height: 1px;
  background-color: #a3a3a3;
  width: 100%;
  margin: 10px auto 20px;
}

/************************************************
**** Garantii-i-service page
************************************************/
.section__catalog-main {
  margin-top: 60px;
  border-radius: 5px;
  margin-bottom: 0;
}

.catalog__main-title {
  color: #5e5e5e;
  font-size: 2.5rem;
}

.catalog__main-menu {
  list-style: none;
  padding-left: 0;
}

.catalog__main-menu li {
  margin: 15px 0;
  line-height: 12px;
}

.catalog__main-menu li a {
  font-size: 1rem;
  font-weight: 700;
}

.catalog__main-submenu {
  list-style: none;
  padding-left: 20px;
}

.catalog__main-submenu li {
  margin: 15px 0;
}

.catalog__main-submenu li a {
  font-size: 0.9rem;
  color: #008b97;
  line-height: 1.1rem;
}

.catalog__main-menu__subtitle {
  background-color: #f5f5f5;
  border-radius: 5px;
  padding: 20px 10px;
  height: 100%;
}

.catalog__main-menu__subtitle span {
  display: block;
  text-align: center;
  font-weight: 700;
  margin: 10px 0;
  font-size: 20px;
  color: #0a6c85;
}

.filter__check {
  margin: 30px 20px;
}

.filter__check label {
  width: 100%;
  display: flex;
  font-size: 0.8rem;
  color: #0a6c85;
  margin-bottom: 10px;
  text-align: left;
}

.filter__check label div {
  text-align: left;
  font-size: 0.8rem;
  color: #0a6c85;
}

.filter__check label input {
  margin-right: 10px;
}

/* Контейнер по которому определяется высота border у сайтбара */
.section__top-filter {
  border-radius: 5px;
}

.top__content-block-wrapper {
  display: flex;
}

.top__content {
  height: 100%;
  position: relative;
  padding: 70px 0;
}

.top__content.product__content {
  padding-bottom: 0;
}

.top__content-block {
  display: flex;
  align-content: flex-start;
}

.top__content-block-wrapper {
  height: 425px;
}

.top__content-block-wrapper .top__content-block-img {
  box-sizing: border-box;
  box-shadow: 0px 0px 39px 0px rgba(0, 0, 0, 0.26);
  border-radius: 5px;
  height: 425px;
  padding: 10px 10px;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  align-items: center;
  max-width: 700px;
  min-width: 300px;
  z-index: 2;
  background: url(/uploads/products/shpaklevka/1.jpg);
}

.top__content-block-wrapper .top__content-block-img img {
  display: none;
  height: 300px;
}

.top__content-block-wrapper .top__content-block-subimg {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 30px;
}

.top__content-block-wrapper .top__content-block-subimg div {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  margin-bottom: 10px;
  width: 100px;
  height: 140px;
  box-shadow: 0px 0px 39px 0px rgba(0, 0, 0, 0.26);
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  background: url(/uploads/products/shpaklevka/2.png);
  background-size: cover;
}

.top__content-block-wrapper .top__content-block-subimg div.active {
  border-color: #0a6c85;
}

.top__content-block-wrapper .top__content-block-subimg div img {
  height: 100px;
  display: none;
}

.top__content-block-wrapper .top__content-block-subimg div:last-child {
  margin-bottom: 0;
}

.top__content-colors {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.top__content-colors__items {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.top__content-colors__items div {
  width: 35px;
  flex-grow: 1;
  height: 25px;
  border-radius: 3px;
  background: #adad0d;
  margin: 10px;
  margin-bottom: 20px;
  position: relative;
  cursor: pointer;
  border: 1px solid #ccc;
}

.top__content-colors__items div span {
  position: absolute;
  top: 25px;
  left: 0;
  font-size: 0.7rem;
}

.top__content-colors__items div:nth-child(even) {
  background: #bd0303;
}

.top__content-text {
  width: 100%;
}

.top__content-text .product-block {
  border-radius: 5px;
  margin-bottom: 30px;
}

.top__content-text .block__text .h1 {
  font-size: 28px;
}

.top__content-text .url_desc {
  color: #5e5e5e;
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: 400;
  margin: 30px 0;
}

.top__content-text .color-picker {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 0 30px;
  position: relative;
  border-radius: 5px;
  width: 230px;
}

.top__content-text .color-picker span {
  display: block;
  width: 50px;
  height: 50px;
  margin-left: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 39px 0px rgba(0, 0, 0, 0.26);
}

.top__content-text p {
  margin: 20px 0;
}

.top__content-text .top__content-optsize {
  margin: 20px 0;
}

.top__content-text .top__content-optsize a {
  padding: 10px;
  color: #0a6c85;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  border-radius: 5px;
}

.top__content-text .top__content-optsize a:not(:last-child) {
  margin-right: 5px;
}

.top__content-text .top__content-optsize a:hover, .top__content-text .top__content-optsize a.active {
  background: #0a6c85;
  color: #fff;
}

.product__price-total {
  margin: 10px 0;
  font-size: 1.5rem;
}

.product__price-total b {
  color: #f75353;
  font-size: 1.5rem;
  font-weight: 700;
}

.product__price-total.delivery {
  margin: 0;
}

.product__price-info {
  font-size: 0.8rem;
}

.product__price-buttons {
  margin: 30px 0 0 !important;
  font-size: 16px;
  font-weight: 400;
}

.product__price-buttons a {
  margin-bottom: 10px;
}

.product__price-buttons button {
  margin-bottom: 10px;
}

.top__content.bottom {
  padding: 50px 0 30px;
  min-height: 0;
}

.cart-button {
  position: relative;
  padding: 10px 15px;
  padding-right: 45px;
}

.cart-button span {
  width: 20px;
}

.cart-button span img {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 20px;
  height: 20px;
}

.card__item-buttons {
  margin-top: 30px;
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.card-item {
  width: 100%;
  min-height: 600px;
  background: #fff;
  box-shadow: 0px 0px 39px 0px rgba(0, 0, 0, 0.26);
  border-radius: 5px;
  padding: 15px;
  text-align: center;
  margin-bottom: 30px !important;
  position: relative;
  display: flex;
  flex-direction: column;
}

.card-item a:first-child {
  display: block;
  min-height: 100px;
}

.card-item .image {
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 30px;
}

.card-item .image a img {
  height: 100%;
  width: 100%;
}

.card-item .card-item-bottom {
  margin-top: auto;
}

.card-item__title {
  font-weight: 900;
  font-size: 1rem;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 20px;
  color: #0a6c85;
}

.card-item__subtitle {
  font-size: 0.9rem;
  color: #5e5e5e;
}

.card-item__summ {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-item__summ .card-item__price {
  font-size: 1.4rem;
  font-weight: 700;
}

.card-item__summ span {
  font-weight: 700;
  font-size: 1.4rem;
  margin-left: 5px;
  color: #f75353;
}

.card-item__price {
  font-size: 1rem;
  font-weight: 700;
  color: #f75353;
}

.card-item__price span {
  font-weight: 700;
}

.card-item img {
  width: 100%;
}

/************************************************
**** Text page styles
************************************************/
.textpage {
  padding: 70px 0;
}

.textpage__content-title {
  margin: 20px 0 50px;
}

.textpage__content-title .h1 {
  color: #0a6c85;
  font-size: 2.5rem;
}

.textpage__content-text1 {
  margin-bottom: 30px;
}

.textpage__content-text1 p {
  font-size: 1rem;
}

.textpage__content-text2 p {
  font-size: 1rem;
}

.textpage__content-text3 p {
  font-size: 1rem;
}

.content p {
  line-height: 1.9rem;
}

.content em {
  display: block;
  padding: 5px 30px 0px;
  font-size: 1rem;
  font-weight: 100 !important;
  font-style: normal;
  border-left: 6px solid #0a6c85;
  margin: 20px 0;
}

.content em span[style*="underline"] {
  font-size: 1rem;
  font-weight: normal;
  color: #0a6c85;
  text-decoration-color: #0a6c85;
}

.content em span[style*="line-through"] {
  font-size: 1rem;
  font-weight: normal;
  color: #0a6c85;
  text-decoration-color: #0a6c85;
}

.content em p {
  font-size: 1rem;
  font-weight: 100;
  padding-bottom: 5px;
}

.content em p span {
  font-size: 1rem;
  font-weight: normal;
  color: #0a6c85;
}

.content em p span[style*="underline"] {
  font-size: 1rem;
  font-weight: normal;
  color: #0a6c85;
  text-decoration-color: red;
}

.content table {
  overflow: hidden;
  border: 1px solid #ccc;
  margin-top: 0px;
  border-radius: 5px;
  height: 100%;
  display: block;
}

.content table tbody tr td {
  padding: 10px;
  font-size: .8rem;
}

.content table tbody tr td:first-child {
  border-top: none;
  border-left: none;
}

.content table tbody tr td:last-child {
  border-top: none;
  border-right: none;
}

.content table tbody tr:last-child td {
  border-bottom: none;
}

.logo-mandarin__href {
  display: flex;
  justify-content: center;
}

.logo-mandarin {
  display: flex;
  font-size: 0.8rem;
  align-content: center;
}

.logo-mandarin img {
  width: 30px;
  height: 30px;
}

.logo-mandarin div {
  font-size: 0.8rem;
  margin-left: 10px;
  line-height: 18px;
  color: #fff;
}

.logo-mandarin div .orange {
  font-size: 0.8rem;
  color: #e47a22;
}

.catalog-menu__title i {
  color: #0a6c85;
  font-size: 20px;
}

/************************************************
**** Filter styles
************************************************/
.item-sort {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 30px;
}

.item-sort a {
  font-size: .8rem;
  margin: 0 5px;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}

.item-sort a:hover {
  color: #444;
}

.item-sort a:first-child {
  margin-left: 0px;
}

.item-sort .select {
  font-size: .8rem;
  margin: 0 5px;
  color: #fff;
  background-color: #0a6c85;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.26);
  padding: 10px 15px;
  border-radius: 5px;
}

.item-sort .select:first-child {
  margin-left: 0px;
}

.multi-filter {
  border-radius: 5px;
  margin-top: 70px;
  background: transparent;
}

.jedfilter label input {
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: .8rem;
}

.jedfilter label input span a {
  font-size: 0.7rem !important;
}

.jedfilter.multiselect {
  border-radius: 5px;
  border: 1px solid #f3f3f3;
  padding: 15px 20px;
  margin-bottom: 30px;
}

.line {
  color: #ccc;
}

.top__content-links {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

/************************************************
**** Page styles
************************************************/
.white-color {
  color: #fff;
}

.section__about {
  padding: 70px 0 0;
}

.about-img {
  width: 100%;
  border-radius: 5px;
}

.section-block-text,
.callform-block {
  background: #fff;
}

.about-block {
  float: left;
  margin-bottom: 70px;
}

.about-block .about-img {
  width: 50%;
  margin: 0 50px 50px 0;
  float: left;
}

.gallery__block.about {
  width: 100%;
  padding: 70px 0;
  background-color: #c5c5c5;
  background: url(../img/our-clients/1.jpg);
  background-size: cover;
}

.gallery__block-blur {
  backdrop-filter: blur(5px);
  padding: 50px;
  border: 1px solid rgba(197, 197, 197, 0.144);
  border-radius: 5px;
}

.gallery__items.about {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.gallery__items.about li {
  flex: 0 1 230px;
  border-radius: 5px;
  overflow: hidden;
  margin: 20px;
}

.gallery__items.about li a img {
  max-width: 100%;
}

.gallery__items.about .images a img {
  width: 150%;
}

.gallery-item {
  width: 24%;
  overflow: hidden;
  flex-grow: 1;
  height: 200px;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
  position: relative;
}

.gallery-item:hover:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 3px solid red;
  border-color: #f3ad2c;
  z-index: 2;
}

.gallery-item:hover img {
  filter: blur(2px);
  transition: transform .5s ease-in-out;
  transform: scale(1.05);
}

.gallery-item:hover .location-title {
  opacity: 1;
}

.gallery-item img {
  transform: scale(1);
  transition: transform .5s ease-in-out;
  height: 100%;
}

.gallery-item .location-title {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(46, 46, 46, 0.7);
  /* typographic styles */
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  /* position the text centrally*/
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  /* hide the title by default */
  opacity: 0;
  transition: opacity .5s;
}

.inner-material__block {
  padding: 70px 0;
}

.inner-material__news {
  width: 100%;
  display: flex;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 30px;
  cursor: pointer;
  position: relative;
}

.inner-material__news:hover {
  border-color: #9e9e9e;
}

.inner-material__news:hover .location-title {
  opacity: 1;
}

.inner-material__news .news-img {
  width: 300px;
}

.inner-material__news > div {
  margin-left: 30px;
}

.inner-material__news .location-title {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 300px;
  background: rgba(46, 46, 46, 0.7);
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  opacity: 0;
  transition: opacity .5s;
}

.news-title {
  font-size: 2rem;
  margin: 20px 0 10px;
  font-weight: 700;
  color: #0a6c85;
}

.news-date {
  margin-bottom: 10px;
  color: #818181;
}

.news-text {
  font-size: 1.5rem;
  line-height: 28px;
}

.form-control {
  margin-bottom: 10px;
}

.padding-0 {
  padding: 0;
}

.h2.white {
  color: #fff;
}

.product__tabs {
  width: 100%;
  min-width: 800px;
  margin: 50px 0 70px;
}

.tabs__title {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
}

.tabs__title div {
  border: 1px solid #ccc;
  border-bottom: none;
  padding: 20px;
  margin-right: 20px;
  font-size: 0.8rem;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.tabs__title div.active {
  background-color: #e7e7e7;
  padding: 20px;
}

.tabs__content {
  padding: 20px;
  border: 1px solid #ccc;
}

.tabs__content-item {
  display: none;
  min-width: 100%;
}

.tabs__content-item h2,
.tabs__content-item h3,
.tabs__content-item h4 {
  margin-bottom: 12px;
}

.tabs__content-item p {
  margin-bottom: 12px;
}

.tabs__content-item.active {
  display: block;
}

.section-contacts {
  margin: 70px 0;
}

/************************************************
**** Form styles
************************************************/
.input-box label {
  margin-bottom: 0;
  width: 100%;
}

.input-box label span {
  font-size: 0.8rem !important;
  font-weight: bold !important;
  color: #0a6c85;
}

.input-box label input {
  width: 100%;
}

.input-box label textarea {
  width: 100%;
  min-height: 100px;
}

.input-box select {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border-color: #ccc;
}

.jinput {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contacts__title {
  margin-bottom: 20px;
}

.contacts__label {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.contacts__label:after {
  position: absolute;
  bottom: -3px;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #dddddd;
}

.contacts__label span {
  color: #5e5e5e;
  font-weight: bold;
}

.contacts__label a {
  margin-left: 25px;
}

.contacts__label.dob_nomera {
  display: block;
}

.contacts__label.dob_nomera span {
  display: block;
}

.partners-list {
  color: #5e5e5e;
}

.contacts-wrappeer {
  margin-top: 50px;
}

.contacts-map {
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

.contacts-map > * {
  width: 100% !important;
  height: 540px !important;
}

.contacts-row {
  margin-bottom: 80px;
}

.feedback {
  padding: 0 0 10px !important;
}

.feedback .desc {
  text-align: center;
  font-size: 1.5rem !important;
  border-top: none !important;
  border-bottom: none !important;
  margin: 10px 0 0px !important;
  padding: 10px 0 !important;
}

.formid {
  padding: 30px !important;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.modal-form {
  border: 1px solid #ccc;
  display: block;
  padding: 30px !important;
  background-color: #f8f8f8;
  border-radius: 5px;
}

.modal-form .title {
  font-weight: 500;
  text-align: center;
}

.modal-form .desc {
  color: #5e5e5e;
}

.feedback_form .formabout {
  margin: 20px 0;
}

/************************************************
**** Modal styles
************************************************/
.modal-wrapper {
  position: fixed;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
  width: 95%;
  height: 100%;
  background: rgba(255, 255, 255, 0.98);
  z-index: 100;
  padding: 70px 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: none;
  transition: 1s ease;
  overflow-y: auto;
}

.modal-wrapper .container {
  position: relative;
}

.modal-wrapper .container .close {
  cursor: pointer;
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 110;
}

.modal-wrapper div > div > div a {
  display: block;
  margin-bottom: 20px;
  font-size: 1.2rem;
}

.modal-cat {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 500px;
  background: rgba(255, 255, 255, 0.98);
  z-index: 100;
  padding: 70px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: none;
}

.modal-cat .container {
  position: relative;
}

.modal-cat .container .close {
  cursor: pointer;
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 111;
}

.modal-cat .container div img {
  width: 300px;
}

.modal-cat div {
  display: block;
  margin-bottom: 20px;
  font-size: 1.2rem;
}

.section__news {
  margin: 70px 0;
}

/************************************************
**** Cart styles
************************************************/
.cart-table {
  margin: 70px 0;
}

.cart-table__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 5px;
}

.cart-table__item .cart-title {
  font-size: 1rem;
}

.cart-table__item img.cart-img {
  width: 50px;
}

.cart-total {
  font-size: 0.9rem;
  text-align: right;
}

.cart-total span {
  font-size: 1.5rem;
  font-weight: 700;
}

.cart-count .cart-arrows {
  position: relative;
}

.cart-count .cart-arrows p {
  display: block;
  height: 20px;
  width: 20px;
  position: absolute;
  font-size: 2rem;
  left: 0;
  top: -20px;
  margin-bottom: 0;
  cursor: pointer;
}

.cart-count .cart-arrows p:last-child {
  top: -10px;
}

/************************
**** cart styles.
************************/
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #666;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  margin: 2px 0px;
  padding: 0px;
}

h1 {
  font-size: 30px;
  line-height: 45px;
}

h2 {
  font-size: 25px;
  line-height: 40px;
}

h3 {
  font-size: 22px;
  line-height: 37px;
}

h4 {
  font-size: 18px;
  line-height: 33px;
}

h5 {
  font-size: 15px;
  line-height: 30px;
}

h6 {
  font-size: 13px;
  line-height: 28px;
}

p {
  margin: 2px 0px;
  padding: 0px;
  margin-bottom: 5px;
  line-height: 28px;
}

hr {
  margin: 10px 0px;
  padding: 0px;
  border-top: 0px;
  border-bottom: 1px solid #eee;
}

:focus {
  outline: none;
}

::-moz-focus-inner {
  border: 0;
}

.white {
  color: #ffffff !important;
}

.grey {
  color: #eeeeee !important;
}

.black {
  color: #555555 !important;
}

.red {
  color: #f75353 !important;
}

.green {
  color: #51d466 !important;
}

.blue {
  color: #0a6c85 !important;
}

.ui-32 {
  margin: 100px auto;
  max-width: 1050px;
}

/* Cart Dropdown */
.ui-32 .ui-cart-dd .ui-cart i.cart-icon {
  font-size: 20px;
}

.ui-32 .ui-cart-dd .ui-cart span {
  font-size: 14px;
  margin: 3px 0px 3px 6px;
}

.ui-32 .ui-dd {
  max-width: 250px;
  border: 1px solid #eee;
  border-top: 2px solid #32c8de;
  border-bottom: 2px solid #32c8de;
  border-radius: 5px;
  position: absolute;
  margin-top: 10px;
  display: none;
  z-index: 20;
  background: #fff;
}

.ui-32 .ui-cart-dd .ui-dd .arrow-up {
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #32c8de;
  margin-left: 30px;
  position: absolute;
  top: -8px;
  left: 0px;
}

.ui-32 .ui-dd .ui-dd-item {
  border-bottom: 1px solid #eee;
  width: 248px;
  padding: 12px 15px 4px 15px;
}

.ui-32 .ui-dd .ui-dd-item:last-child {
  border-bottom: 0px;
}

.ui-32 .ui-dd .ui-dd-header {
  float: left;
}

.ui-32 .ui-dd .ui-dd-header h5 {
  font-size: 14px;
  line-height: 14px;
}

.ui-32 .ui-dd .ui-dd-header span {
  color: #aaa;
  font-weight: 400;
}

.ui-32 .ui-dd .ui-dd-quantity {
  float: right;
  margin: 5px 0px;
}

.ui-32 .ui-dd-quantity .stepper {
  width: 60px;
}

.ui-32 .ui-dd-quantity .stepper .stepper-input {
  padding: 4px 10px 6px;
}

.ui-32 .ui-dd .ui-dd-item strong {
  display: block;
}

.ui-32 .ui-cart-dd .ui-dd-item .btn {
  margin: 5px 0px;
}

.ui-32 .ui-view-cart .table {
  margin: 20px 0px;
}

.ui-32 .ui-view-cart .table tr th {
  padding: 17px 10px;
  font-size: .8rem;
  text-transform: uppercase;
  background: #f9f9f9;
  color: #999;
}

.ui-32 .ui-view-cart .table tr > th:first-child {
  padding-left: 12px;
  padding-right: 12px;
  text-align: center;
}

.ui-32 .ui-view-cart .table tr:hover {
  background: #fcfcfc;
}

.ui-32 .ui-view-cart .table tr > td {
  vertical-align: middle;
  padding: 17px 10px;
}

.ui-32 .ui-view-cart .table tr > td:first-child {
  padding-left: 12px;
  padding-right: 12px;
  text-align: center;
}

.ui-32 .ui-view-cart tr > td > a > img {
  width: 45px;
}

.ui-32 .ui-view-cart .table tr > td > h6 {
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
}

.ui-32 .ui-view-cart .table tr > td > h6 a {
  color: #666;
}

.ui-32 .ui-view-cart .table tr > td:nth-child(4) {
  font-size: 18px;
  font-weight: 700;
}

.ui-32 .ui-view-cart tr > td > div.stepper {
  width: 60px;
  margin-top: 9px;
}

.ui-32 .ui-view-cart .stepper .stepper-input {
  padding: 4px 10px 6px;
  background: #fff;
}

.ui-32 .ui-view-cart .table tr > td:nth-child(6) {
  font-size: 18px;
  font-weight: 700;
}

/*******************************
**** Basket styles
*******************************/
.hide {
  display: none;
}

.basketTable {
  margin: 20px 0px;
}

.basketTable {
  width: 100%;
}

.basketTable tbody .captions td {
  padding: 17px 10px;
  font-size: .8rem;
  text-transform: uppercase;
  background: #f9f9f9;
  color: #999;
}

.basketTable tbody .item td {
  vertical-align: middle;
  padding: 17px 10px;
  border-bottom: 1px solid #ececec;
}

.basketTable tbody .item td a > img {
  width: 45px;
}

.totalTr td {
  vertical-align: middle;
  padding: 17px 10px;
}

.totalTr td .totalCaption {
  font-weight: bold;
}

.totalTr td .totalPrice {
  font-size: 1.5rem;
}

.totalTr td:last-child {
  text-align: right;
}

.input-box label span {
  margin-bottom: 5px;
}

.input-box label input,
.input-box label textarea {
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.feedback .title.h1 {
  margin-bottom: 40px;
}

.imageTd {
  width: 100px;
  padding: 15px;
}

.imageTd .image {
  width: 70px;
  height: 70px;
  background-size: cover;
}

/*******************************
**** Modal for cart
*******************************/
.cart-apply i {
  color: #fff;
}

.form-close-wrapper {
  position: relative;
}

.form-close-wrapper .form-close {
  cursor: pointer;
  position: absolute;
  top: 60px;
  right: 70px;
  z-index: 110;
}

#consult-form {
  display: none;
  width: 500px;
  margin: 0 auto;
}

.pagination {
  position: relative;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.pagination .deactive {
  color: #bebebe;
}

.pagination a:hover {
  color: #fff;
  background-color: #0a6c85;
  transition: .5s ease;
}

.pagination .pages-nomer {
  font-size: 1.5rem;
}

.pagination .pages-nomer span a,
.pagination .pages-nomer a {
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 39px 0px rgba(0, 0, 0, 0.26);
  margin: 0 3px;
  font-weight: bold;
  color: #444;
}

.pagination .pages-nomer .active,
.pagination .pages-nomer :hover {
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  color: #fff;
  background-color: #0a6c85;
  margin: 0 3px;
  text-decoration: none;
}

.pagination .page-prev {
  display: block;
  position: relative;
  top: 5px;
  padding: 0px 10px;
  height: 32px;
  font-size: 1.2rem;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 0px 0px 39px 0px rgba(0, 0, 0, 0.26);
  color: #444;
  margin-right: 3px;
}

.pagination .page-next {
  display: block;
  position: relative;
  top: 5px;
  padding: 0px 10px;
  height: 32px;
  font-size: 1.2rem;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 0px 0px 39px 0px rgba(0, 0, 0, 0.26);
  color: #444;
  margin-left: 3px;
}

.min-height100 {
  min-height: 100px;
}

.bold {
  font-weight: bold;
}

.modal-form {
  padding: 50px 0;
}

.mfp-figure figure {
  overflow: hidden;
}

.mfp-figure figure .mfp-img {
  border-radius: 5px !important;
}

.mfp-figure figure figcaption {
  position: relative;
  bottom: 70px;
  width: 100%;
  height: 100%;
}

.mfp-figure figure figcaption .mfp-bottom-bar {
  position: absolute;
  text-align: center;
  bottom: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px 0;
  height: 60px;
  z-index: 10;
}

.mfp-figure figure figcaption .mfp-bottom-bar .mfp-title {
  text-align: center;
}

a.form-modal {
  margin-top: 0;
}

/************************************************
**** Adaptive-menu1
************************************************/
.adaptive-menu1 {
  display: none;
  width: 100%;
  height: 78px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background-color: #fff;
}

.adaptive-menu1 .adaptive-cart {
  position: relative;
  top: 10px;
  right: 20px;
  cursor: pointer;
}

.adaptive-menu1 .adaptive-cart .cart-counter {
  position: absolute;
  top: -14px;
  right: -10px;
  background: #cc0000;
  border-radius: 50%;
  padding: 0px 8px;
  color: #fff;
  z-index: 100;
  font-weight: bold;
}

.adaptive-menu1 .adaptive-cart img {
  width: 50px;
  opacity: .5;
  top: 50px;
}

.adaptive-menu1__top {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  padding: 0 10px;
  position: relative;
  z-index: 101;
}

.adaptive-menu1__top .change-city {
  position: absolute;
  top: 25px;
  left: 60px;
}

.adaptive-menu1__top .burger {
  margin-top: 10px;
}

.adaptive-menu1__top .burger .burger-button {
  position: relative;
  height: 50px;
  width: 50px;
  background: url(/templates/front/img/logo/burger-menu.png);
  background-size: cover;
  cursor: pointer;
  opacity: .5;
}

.adaptive-menu1__top .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  margin-top: 10px;
}

.adaptive-menu1__top .top__info {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 30px 0;
}

.adaptive-menu1__top .top__info-items {
  vertical-align: middle;
}

.adaptive-menu1__top .top__info-items:last-child {
  padding-right: 40px;
}

.adaptive-menu1__top .top__info-items:last-child:hover {
  text-decoration: underline;
}

.adaptive-menu1__top .top__info-cart .cart .cart-counter {
  position: absolute;
  font-weight: bold;
  top: -26px;
  left: 72px;
  z-index: 11;
  font-size: 1.3rem;
  color: #fff;
}

.adaptive-menu1__top .top__info-cart .cart span {
  display: block;
  text-align: left;
}

.adaptive-menu1__top .top__info-cart .cart img {
  width: 80px;
  opacity: .5;
}

.adaptive-menu1__top .top__info-cart .cart:before {
  position: absolute;
  top: -24px;
  left: 65px;
  display: block;
  content: "";
  width: 26px;
  height: 26px;
  background: red;
  border-radius: 50%;
  z-index: 10;
}

.adaptive-menu1__top .top__info-cart > div {
  margin-top: 15px;
  color: #888;
}

.adaptive-menu1__wrapper {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 30px 0;
  top: 86px;
  transform: translateY(-50%);
  z-index: 100;
}

.adaptive-menu1__item {
  width: 100%;
  background: #fff;
  cursor: pointer;
  border-left: 5px solid #0a6c85;
}

.adaptive-menu1__item a {
  font-size: .9rem;
  width: 100%;
  height: 100%;
  text-decoration: none;
  display: block;
  padding: 15px 20px;
}

.adaptive-menu1__item:hover {
  background-color: #ddd;
}

.adaptive-menu1__item:nth-child(even) {
  border-left: 5px solid #0a6c85;
  background-color: #f7f7f7;
}

.adaptive-menu1__item:nth-child(even):hover {
  background-color: #ddd;
}

.adaptive-menu1__item:last-child {
  border-bottom: 1px solid #e7e7e7;
  -webkit-box-shadow: 0px 38px 39px -5px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 0px 38px 39px -5px rgba(0, 0, 0, 0.26);
  box-shadow: 0px 38px 39px -5px rgba(0, 0, 0, 0.26);
}

#accordeon {
  display: none;
  width: 100%;
  border: 1px solid #fff;
  box-shadow: 0 0 10px #e7e7e7;
  margin-bottom: 50px;
  border-radius: 5px;
  overflow: hidden;
}

.acc-head {
  padding: 15px 15px;
  background: #f3f3f3;
  border-bottom: 1px solid #fff;
  cursor: pointer;
}

.acc-body {
  padding: 10px;
  border-bottom: 1px solid #f3f3f3;
  margin-bottom: 5px;
  display: none;
}

.ral-colors {
  display: flex;
  color: #5e5e5e;
}

.ral-colors span {
  display: block;
  margin-left: 20px;
  width: 30px;
  height: 30px;
  border-radius: 5px;
}

.white-popup-block .white-popup-content {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 30px;
  border-radius: 5px;
  width: 80%;
  height: 80%;
  min-height: 400px;
  background-color: #fff;
}

.white-popup-block .white-popup-content .form-color-close {
  position: absolute;
  right: 30px;
  top: 30px;
  cursor: pointer;
}

.white-popup-block .white-popup-content .modal-colors {
  margin-right: 15px;
  cursor: pointer;
}

.white-popup-block .white-popup-content .modal-colors .tag {
  color: #0a6c85;
}

.white-popup-block .white-popup-content .modal-colors .hash-color {
  border-radius: 5px;
  border: 1px solid #ccc;
  display: block;
  height: 80px;
  width: 80px;
}

.white-popup-block .white-popup-content .modal-colors .hash-color:hover {
  border-color: #0a6c85;
}

.adaptive-basket-list {
  display: none;
  width: 100%;
}

.adaptive-basket-list .adaptive__basket .adaptive-basket-item {
  display: flex;
}

.adaptive-basket-list .adaptive__basket .adaptive-basket-item .imageTd .image {
  width: 40px;
  height: 40px;
  background-size: cover;
}

.adaptive-basket-list .adaptive__basket .adaptive-basket-item .name {
  align-self: center;
  margin-right: 10px;
}

.adaptive-basket-list .adaptive__basket .adaptive-basket-item .price {
  align-self: center;
  margin-right: 10px;
}

.adaptive-basket-list .adaptive__basket .adaptive-basket-item .adaptive-basket-input-block {
  align-self: center;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
}

.adaptive-basket-list .adaptive__basket .adaptive-basket-item input {
  height: 30px;
  align-self: center;
  width: 50px;
  margin-right: 20px;
}

.adaptive-basket-list .adaptive__basket .adaptive-basket-item .price-count {
  align-self: center;
  margin-left: auto;
}

.adaptive-basket-list .adaptive__basket .adaptive-basket-item .deleteTd {
  align-self: center;
  margin-left: auto;
}

.totalTr-adaptive {
  display: flex;
  justify-content: space-between;
}

.totalTr-adaptive .totalPrice {
  font-size: 1.2em;
}

.addBasketButton.add {
  background: #e02020 !important;
}

.news-wrapper.some-news-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.news-page {
  padding: 70px 0;
}

.some-news-link {
  text-decoration: none !important;
  margin-bottom: 10px;
}

.some-news {
  background: #0a6c85;
  width: 260px;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid rgba(10, 108, 133, 0.795);
  margin-bottom: 20px;
}

.some-news:hover {
  box-shadow: 0px 0px 0px 2px #f3ad2c;
}

.some-news-item .some-news-item__title {
  font-size: 1.1rem;
  text-transform: uppercase;
  color: #f3ad2c;
  margin-bottom: 10px;
  line-height: 1.5rem;
  font-weight: 700;
}

.some-news-item .some-news-item__text {
  font-size: 1rem;
  color: #fff;
  margin-bottom: 10px;
  font-weight: 500;
  line-height: 1.3rem;
}

.all-some-news {
  display: block;
  z-index: 11;
  color: #f3ad2c;
  text-decoration: underline;
  font-size: 1.4rem;
  margin-top: 30px;
  text-align: left;
  margin-left: 60px;
}

/* firmennie-magaziny */
.firmennie-magaziny {
  padding: 70px 0;
}

.firmennie-magaziny__items {
  margin-bottom: 50px !important;
  position: relative;
  padding: 30px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.firmennie-magaziny__items:last-child {
  margin-bottom: 0;
}

.magaziny-map {
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
  height: 200px;
  margin: 50px 0 0;
}

.magaziny-map > * {
  width: 100% !important;
}

.magaziny-list .img img {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  max-width: 100%;
}

.magazine {
  padding: 50px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.magaziny-photo {
  margin-top: 50px;
  display: flex;
  height: auto;
}

.magaziny-photo a {
  display: block;
  margin-right: 20px;
  box-shadow: 0px 0px 39px 0px rgba(0, 0, 0, 0.26);
  border-radius: 5px;
  flex-grow: 1;
  overflow: hidden;
}

.magaziny-photo a:last-child {
  margin-right: 0;
}

.magaziny-photo a img {
  display: flex;
  align-items: center;
}

/************************************************
**** Стили страницы Техническая поддержка
************************************************/
.tech-podderzhka {
  padding: 70px 0;
}

.podderzhka {
  margin-bottom: 30px;
}

.tech-podderzhka__form {
  padding: 15px;
  box-shadow: 0px 0px 39px 0px rgba(0, 0, 0, 0.26);
  background: #fff;
  border-radius: 5px;
  margin-top: 30px;
}

.tech-podderzhka__form .input-form {
  width: 100%;
  color: #0a6c85;
  font-weight: bold;
}

.tech-podderzhka__form .input-form input {
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  padding: 10px 15px;
}

.tech-podderzhka__form .input-form input,
.tech-podderzhka__form .input-form textarea {
  margin-top: 5px;
}

.tech-podderzhka__form .input-form textarea {
  width: 100%;
  height: 200px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  padding: 10px 15px;
}

.tech-podderzhka__form .buttons-form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 15px 0;
}

.tech-podderzhka__form .buttons-form div .custom-file-upload {
  cursor: pointer;
}

.tech-podderzhka__form .buttons-form div .custom-file-upload input[type="file"] {
  display: none;
}

.tech-podderzhka__form .buttons-form div .custom-file-upload img {
  width: 20px;
  height: 25px;
  margin-left: 10px;
}

.tech-podderzhka__form .buttons-form input.g-recaptcha {
  height: 50px;
}

.color-form-wrapper {
  padding: 30px;
  border-radius: 5px;
  background: #f3f3f3;
  margin-top: 30px;
}

.sklad .sklad-table {
  padding: 30px;
  background: #f3f3f3;
  border-radius: 5px;
  margin-top: 15px;
}

.sklad .sklad-table div .h5 {
  margin-bottom: 30px;
}

.sklad .sklad-table hr {
  border-bottom: 1px solid #444;
}

.sklad-items {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  font-size: 14px;
}

.partners-list .item .img {
  padding: 50px 0 50px;
}

.partners-list .item .img img {
  box-sizing: border-box;
  width: 100%;
  border-radius: 5px;
}

.innerText .main .img {
  margin: 50px 0;
}

.innerText .main .img img {
  max-width: 100%;
  border-radius: 5px;
}

.innerText .main .h3 {
  margin-bottom: 20px;
}

.magaziny-list .img img {
  width: 100%;
}
