@import "variables/_config";

@media screen and (max-width: 100%) and (min-width: 1000px) {
  .top__menu-nav {
    li {
      font-size: 14px;
    }
  }
}

@media screen and (max-width: 1000px) and (min-width: 769px) {
  .logo {
    margin-bottom: 50px;
  }
  .adaptive-menu1 {
    display: block;
  }
  .top__info {
    display: none;
  }
  .secondary-menu__items {
    margin-top: 78px;
    a {
      &:nth-child(1) {
        .menu-icon {
          width: 35px;
          height: 35px;
        }
      }
      &:nth-child(2) {
        .menu-icon {
          width: 35px;
          height: 35px;
          background-position: -36px 0;
        }
      }
      &:nth-child(3) {
        .menu-icon {
          width: 35px;
          height: 35px;
          background-position: -68px 0;
        }
      }
      &:nth-child(4) {
        .menu-icon {
          width: 35px;
          height: 35px;
          background-position: -106px 0;
        }
      }
      span {
        font-size: 1.2rem;
      }
      div {
        font-size: 0.8rem;
        padding-right: 18px;
        opacity: 0.8;
      }
    }
  }
  .top__menu {
    display: none;
  }

  .main-background {
    height: 500px;
  }
  .main-background .slider-text {
    width: 100%;
    padding-top: 50px;
  }
  .main-background .slider-text__desc {
    font-size: 1rem;
    line-height: 1rem;
  }
  .brand__news {
    display: none;
  }
  .slider__buttons i.la-angle-right {
    left: 92%;
  }
  .brand-container {
    width: 100%;
  }

  .block__buttons-wrapper {
    margin-top: 50px;
    text-align: center;
    width: 100%;
  }
  .block__buttons {
    margin-top: 0;
    margin-bottom: 50px;
  }
  .block__links {
    text-align: left;
  }
  .block__text {
    margin-top: 70px;
  }
  footer {
    padding-top: 30px;
  }
  .footer-menu {
    margin-top: 50px;
    width: 100%;
  }
  .footer__column {
    display: none;
  }
  footer .footer-bottom {
    margin-top: 30px;
  }
  .footer__logo {
    text-align: center;
  }
  .justify-content-center {
    text-align: center;
  }

  .top__content {
    padding: 0;
  }
  .product__price-info {
    text-align: center;
  }
  .top__content-block-wrapper {
    margin: 0 auto;
    width: 100%;
  }
  .top__content-block {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  // .top__content-block-wrapper .top__content-block-subimg { display: none; }
  .top__content-block-wrapper .top__content-block-img {
    width: 80%;
    height: auto;
  }
  .top__content-block-wrapper .top__content-block-subimg {
    width: 20%;
    div {
      width: 100%;
    }
  }

  .product__price-total { margin: 20px 0; }
  .product__price-info { text-align: left; }
  .top__content-text {
    margin-left: 0;
    width: 100%;
    .color-picker {
      text-align: center;
      display: flex;
      width: 100%;
      a {
        margin-bottom: 10px;
        width: 250px;
        padding-top: 15px;
      }
      span {
        height: 50px;
        width: 100%;
        top: 0;
        margin-bottom: 10px;
        flex-grow: 1;
      }
    }
  }
  .product__price-buttons {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .product__price-buttons a,
  .product__price-buttons button {
    margin: 0 5px 10px;
    flex-grow: 1;
  }

  .product__tabs {
    display: none;
  }
  #accordeon {
    display: block;
  }
}

@media screen and (max-width: 768px) and (min-width: 320px) {
  .button-cat {
    margin-bottom: 15px;
    max-width: 250px;
    width: 100%;
  }
  .logo {
    margin-bottom: 50px;
  }
  .logo__title {
    display: none;
  }
  .top__info-items {
    flex-direction: column;
    justify-content: center;
  }
  .adaptive-menu1 {
    display: block;
  }
  .top__info {
    display: none;
  }
  .top__menu {
    display: none;
  }
  .section__block {
    display: none;
  }



  .secondary-menu {
    background: none;
    .secondary-menu__header-text {
      display: block;
    }
  }

  .secondary-menu__items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
    padding-bottom: 50px;
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 45%;
      min-width: 140px;
      div:not(.menu-icon) {
        display: block;
        position: absolute;
        top: 20px;
        left: 80px;
        font-size: 14px;
        line-height: 15px;
        opacity: 1;
      }
      span {
          position: absolute;
          bottom: 20px;
          right: 20px;
      }
      margin: 1%;
      height: 150px;
      border-radius: 5px;

      &:nth-child(1) {
        background: #f3ad2c;
        div.menu-icon {
          padding-right: 0;
          width: 60px;
          height: 60px;
          top: 15px;
          left: 10px;
          background-position: 5px 0;
          opacity: 1;
        }
        &:hover {
          background: #e2a22a;
        }
      }
      &:nth-child(2) {
        .menu-icon {
          padding-right: 0;
          width: 60px;
          height: 60px;
          top: 15px;
          left: 10px;
          background-position: -55px 0;
          opacity: 1;
        }
      }
      &:nth-child(3) {
        .menu-icon {
          padding-right: 0;
          width: 60px;
          height: 60px;
          top: 15px;
          left: 10px;
          background-position: -115px 0;
          opacity: 1;
        }
      }
      &:nth-child(4) {
        background: rgba(31, 134, 31, 1);
        .menu-icon {
          padding-right: 0;
          width: 55px;
          height: 55px;
          top: 15px;
          left: 10px;
          background-position: -165px 0;
          opacity: 1;
        }
        &:hover {
          background: rgb(22, 116, 22);
        }
      }
      span {
        font-size: 1.3rem;
        text-align: center;
        margin-top: 90px;
        font-weight: 500;
      }
      div {
        font-size: 0.8rem;
        padding-right: 18px;
        opacity: 0.8;
      }
    }
  }
  .top__menu {
    display: none;
  }
  .container.brand {
    display: none;
  }
  .section__block {
    margin-top: 78px;
  }

  .section__catalog-main {
    margin-top: 30px;
  }

  .top__content-block-wrapper {
    margin: 0 auto;
    width: 100%;
  }
  .top__content-block {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .top__content-block-wrapper .top__content-block-subimg {
    display: none;
  }
  .top__content-block-wrapper .top__content-block-img {
    width: 100%;
    height: auto;
  }

  .product__price-total {
    // text-align: center;
    margin: 20px 0;
  }
  .top__content-text {
    margin-left: 0;
    width: 100%;
    .color-picker {
      text-align: center;
      display: flex;
      width: 100%;
      a {
        margin-bottom: 10px;
        width: 250px;
        padding-top: 15px;
        flex-grow: 1;
      }
      span {
        height: 50px;
        width: 100%;
        top: 0;
        margin-bottom: 10px;
        flex-grow: 1;
      }
    }
  }
  .product__price-buttons {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .product__price-buttons a,
  .product__price-buttons button {
    margin: 0 5px 10px;
    flex-grow: 1;
  }

  .main-background {
    height: 300px;
    padding: 0 50px;
  }
  .main-background .slider-text {
    width: 100%;
    padding: 50px 0 0;
    margin-left: 0;
  }
  .main-background .slider-text .slider-text__title {
    font-size: 1.2rem;
    line-height: 1.6rem;
  }
  .main-background .slider-text__desc {
    font-size: 1rem;
    line-height: 1rem;
    line-height: 1.4rem;
  }
  .brand__news {
    display: none;
  }
  .slider__buttons i {
    top: 50%;
  }
  .slider__buttons i.la-angle-right {
    left: 92%;
  }
  .brand-container {
    width: 100%;
  }

  .catalog__main-menu {
    li {
      line-height: 25px;
      a {
        font-size: 1rem;
      }
    }
  }
  .catalog__main-submenu {
    li {
      a {
        color: $main-color;
      }
    }
  }
  .item-sort {
    justify-content: center;
  }

  .about-block {
    margin-bottom: 30px;
  }
  .about-img {
    margin-bottom: 30px;
  }
  .about-img:last-child {
    margin-top: 30px;
  }

  .gallery__block-blur {
    padding: 0;
  }
  .gallery__items.about {
    padding: 5px 5px;
    .images {
      width: 100%;
      height: 100%;
      margin: 10px;
      flex-grow: 1;
      a {
        img {
          height: 100%;
          width: 100%;
        }
      }
    }
  }
  .mfp-img {
    max-width: 100% !important;
    height: auto;
    margin: 0 !important;
  }

  .section__ferra {
    margin-top: 0;
  }

  .top__content {
    padding: 0;
    margin-top: 30px;
  }
  .top__content.bottom {
    padding: 0;
  }
  .section__top-filter {
    background-color: #ececec;
    padding: 15px;
    margin: 30px 0;
    .multi-filter {
      margin-top: 0;
    }
  }

  #filter_tip_kraski {
    float: left !important;
    margin-right: 100px;
  }
  #filter_brend {
    float: left !important;
  }
  #filter_cvet {
    clear: both;
  }

  .block__buttons-wrapper {
    margin-top: 50px;
    text-align: center;
    width: 100%;
  }
  .block__buttons {
    margin-top: 0;
    margin-bottom: 50px;
  }
  .block__links {
    text-align: left;
  }

  .block__text {
    margin-top: 30px;
    .h2 {
      display: none;
    }
    button {
      display: block;
      margin: 0 auto 50px;
    }
    .block__images {
      display: none;
      .block__images-item {
      }
    }
  }

  .catalog__main-title { text-align: center; }

  .parallax {
    height: 300px;
  }
  .parallax__text {
    height: 300px;
    .footer__title-text {
      .h2 {
        font-size: 1.7rem;
      }
    }
  }
  .center-block {
    margin: 30px 0;
  }
  .brand-business {
    display: none;
  }
  .slide-button {
    margin-bottom: 0 !important;
  }

  .footer-menu {
    display: none;
  }
  .justify-content-center {
    text-align: center;
  }
  .footer__logo-text {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    font-size: 1.3rem !important;
    line-height: 1.7rem !important;
  }
  .footer__column {
    display: none;
  }
  .footer-bottom__column {
    font-size: 1rem;
  }
  footer {
    padding-top: 30px;
  }
  footer .footer-bottom {
    margin-top: 30px;
  }
  .footer__logo {
    text-align: center;
  }

  .section-contacts {
    margin: 30px 0;
  }
  .contacts-wrappeer.content {
    margin: 30px 0 50px;
  }
  .contacts-row {
    margin-bottom: 30px;
  }
  .formid {
    margin-top: 30px;
  }
  .textpage {
    padding: 30px 0;
  }
  .textpage__content-text1 {
    padding: 0 15px;
  }

  .product__tabs {
    display: none;
  }
  #accordeon {
    display: block;
  }

  .modalresult {
    left: 30% !important;
  }

  .basketTable {
    tbody {
      width: 100%;
      display: flex;
      flex-direction: column;

      .captions {
        display: none;
      }
      .item {
        margin: 0 auto;
        width: 100%;
        text-align: center;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-bottom: 20px;
      }
      .item td {
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
      }
      .item .imageTd {
          .image { width: 150px; height: 150px; }
      }
      .item .imageTd,
      .item .nameTd {
        display: block;
        text-align: center;
        a { font-size: 1.5rem; }
      }
      .item td input {
          width: 50%;
          margin: 0 auto;
          text-align: center;
      }
      .item td .price {
          font-size: 1.2rem;
          font-weight: 500;
      }
      .item td .price-count {
        font-size: 1.7rem;
      }

      .item .deleteTd a {
        height: 60px;
        width: 150px;
        font-size: 1rem;
        align-self: center;
        line-height: 2.5rem;
      }

      .totalTr .imageTd{
          display: none;
      }
      .totalTr { display: flex; justify-content: space-between; }

      .totalTr td:nth-child(3),
      .totalTr td:nth-child(4),
      .totalTr td:nth-child(6) { display: none; }
    }
  }

  .imageTd {
    width: 100%;
    .image {
      margin: 0 auto;
    }
  }

  .magaziny-map {
    margin-top: 30px;
  }

  .magaziny-photo {
    display: block;
    a {
      width: 100%;
      height: 300px;
      margin-bottom: 30px;
      img {
        width: 130%;
      }
    }
  }

  .contacts__label:after { bottom: -3px !important; }

  .tech-podderzhka__form .buttons-form { margin: 30px 0 20px; }
}

