<div class="tab">
	<div class="tab-name">Продукт</div>
	<div class="column-75">
		<?=@$DATA['url']?>
    <h2>Описания</h2>
		<?=@$DATA['url_name']?>
		<?=@$DATA['url_desc']?>
		<?//=@$DATA['url_desc_basket']?>
		<?//=@$DATA['url_desc_sub']?>
		<?//=@$DATA['url_desc_sub_url']?>
		<?//=@$DATA['show_type']?>
		<?//=@$DATA['price_city']?>
		<?//=@$DATA['price_text']?>
		<?//=@$DATA['price_unit']?>
		<?//=@$DATA['price_desc']?>
		<h2>Услуга</h2>
		<?=@$DATA['content_title']?>
		<?=@$DATA['content']?>
		<?//=@$DATA['content3']?>
		<?=@$DATA['content2']?>
	</div>
	<div class="column-25 grey">
		<?=@$DATA['status']?>
		<?=@$DATA['unit']?>
		<?=@$DATA['parent']?>
		<?=@$DATA['users_add']?>
	</div>
</div>

<div class="tab">
	<div class="tab-name">Состав продукта</div>
	<h2>Состав 1</h2>
		<table cellpadding=0 cellspacing=0 border="0" width="100%">
			<tr>
				<td><?=@$DATA['list1_name']?></td>
				<td><?=@$DATA['list1_url']?></td>
			</tr>
		</table>
		<?=@$DATA['list1_desc']?>

	<h2>Состав 2</h2>
		<table cellpadding=0 cellspacing=0 border="0" width="100%">
			<tr>
				<td><?=@$DATA['list2_name']?></td>
				<td><?=@$DATA['list2_url']?></td>
			</tr>
		</table>
		<?=@$DATA['list2_desc']?>

	<h2>Состав 3</h2>
		<table cellpadding=0 cellspacing=0 border="0" width="100%">
			<tr>
				<td><?=@$DATA['list3_name']?></td>
				<td><?=@$DATA['list3_url']?></td>
			</tr>
		</table>
		<?=@$DATA['list3_desc']?>
	<h2>Состав 4</h2>
		<table cellpadding=0 cellspacing=0 border="0" width="100%">
			<tr>
				<td><?=@$DATA['list4_name']?></td>
				<td><?=@$DATA['list4_url']?></td>
			</tr>
		</table>
		<?=@$DATA['list4_desc']?>

		<h2>Состав 5</h2>
			<table cellpadding=0 cellspacing=0 border="0" width="100%">
				<tr>
					<td><?=@$DATA['list5_name']?></td>
					<td><?=@$DATA['list5_url']?></td>
				</tr>
			</table>
			<?=@$DATA['list5_desc']?>
			<h2>Состав 6</h2>
				<table cellpadding=0 cellspacing=0 border="0" width="100%">
					<tr>
						<td><?=@$DATA['list6_name']?></td>
						<td><?=@$DATA['list6_url']?></td>
					</tr>
				</table>
				<?=@$DATA['list6_desc']?>
				<h2>Состав 7</h2>
					<table cellpadding=0 cellspacing=0 border="0" width="100%">
						<tr>
							<td><?=@$DATA['list7_name']?></td>
							<td><?=@$DATA['list7_url']?></td>
						</tr>
					</table>
					<?=@$DATA['list7_desc']?>
					<h2>Состав 8</h2>
						<table cellpadding=0 cellspacing=0 border="0" width="100%">
							<tr>
								<td><?=@$DATA['list8_name']?></td>
								<td><?=@$DATA['list8_url']?></td>
							</tr>
						</table>
						<?=@$DATA['list8_desc']?>
						<h2>Состав 9</h2>
							<table cellpadding=0 cellspacing=0 border="0" width="100%">
								<tr>
									<td><?=@$DATA['list9_name']?></td>
									<td><?=@$DATA['list9_url']?></td>
								</tr>
							</table>
							<?=@$DATA['list9_desc']?>
							<h2>Состав 10</h2>
								<table cellpadding=0 cellspacing=0 border="0" width="100%">
									<tr>
										<td><?=@$DATA['list10_name']?></td>
										<td><?=@$DATA['list10_url']?></td>
									</tr>
								</table>
								<?=@$DATA['list10_desc']?>
								<h2>Состав 11</h2>
									<table cellpadding=0 cellspacing=0 border="0" width="100%">
										<tr>
											<td><?=@$DATA['list11_name']?></td>
											<td><?=@$DATA['list11_url']?></td>
										</tr>
									</table>
									<?=@$DATA['list11_desc']?>
									<h2>Состав 12</h2>
										<table cellpadding=0 cellspacing=0 border="0" width="100%">
											<tr>
												<td><?=@$DATA['list12_name']?></td>
												<td><?=@$DATA['list12_url']?></td>
											</tr>
										</table>
										<?=@$DATA['list12_desc']?>
										<h2>Состав 13</h2>
											<table cellpadding=0 cellspacing=0 border="0" width="100%">
												<tr>
													<td><?=@$DATA['list13_name']?></td>
													<td><?=@$DATA['list13_url']?></td>
												</tr>
											</table>
											<?=@$DATA['list13_desc']?>
</div>
<div class="tab">
	<div class="tab-name">Картинки</div>
        <?=@$DATA['url_icon']?>
        <?=@$DATA['url_image']?>
		<?=@$DATA['multi_images']?>

</div>

<div class="tab">
	<div class="tab-name">SEO</div>
    <?=@$DATA['search_index']?>
	<?=@$DATA['title']?>
	<?=@$DATA['description']?>
	<?=@$DATA['title_og']?>
	<?=@$DATA['description_og']?>
    <?=@$DATA['keywords']?>
    <?=@$DATA['meta']?>
</div>

<div class="tab superadmin">
	<div class="tab-name superadmin">ADMIN</div>
    <div class="column-75">
        <h2>Точная настройка</h2>
        <?=@$DATA['date']?>
        <?=@$DATA['unic_template']?>
        <?=@$DATA['unic_modules']?>
        <?=@$DATA['domain']?>
        <?=@$DATA['alias']?>
    </div>
    <div class="column-25 grey">
        <h2>Статичные данные</h2>
        <?=@$DATA['type']?>
        <?=@$DATA['template']?>
        <?=@$DATA['modules']?>
        <?=@$DATA['child_units']?>
        <?=@$DATA['post_func']?>
		<?=@$DATA['pre_func']?>
    </div>
</div>
