<div class="block partners">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block-title p70">
                    <div class="h2">Наши партнеры</div>
                    <p>Соблюдение определённых ограничений в рационе вовсе не означает, что вы должны исключить из ежедневного меню все ваши любимые продукты и отдать предпочтение невкусной, но полезной пище. Вкусная и полезная пища необходима для здоровья и работоспособности человека. Специалисты говорят, что ежедневная зарядка, много воды и полезной пищи сделают и из обезьяны человека. Некоторая спорная пища становится полезной, когда её употребляют несколько поколений предков.</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="about-top grid-1">
                <div class="about-left partners">
                    <figure class="effect-bubba partners">
                        <img class="img-responsive" src="/uploads/icons/partners/1.png" alt=""/>
                        <figcaption></figcaption>
                    </figure>
                </div>
                <div class="about-left partners">
                    <figure class="effect-bubba partners">
                        <img class="img-responsive" src="/uploads/icons/partners/7.jpg" alt=""/>
                        <figcaption></figcaption>
                    </figure>
                </div>
                <div class="about-left partners">
                    <figure class="effect-bubba partners">
                        <img class="img-responsive" src="/uploads/icons/partners/8.jpg" alt=""/>
                        <figcaption></figcaption>
                    </figure>
                </div>
                <div class="about-left partners">
                    <figure class="effect-bubba partners">
                        <img class="img-responsive" src="/uploads/icons/partners/4.png" alt=""/>
                        <figcaption></figcaption>
                    </figure>
                </div>

                <div class="about-left partners">
                    <figure class="effect-bubba partners">
                        <img class="img-responsive" src="/uploads/icons/partners/1.png" alt=""/>
                        <figcaption></figcaption>
                    </figure>
                </div>
                <div class="about-left partners">
                    <figure class="effect-bubba partners">
                        <img class="img-responsive" src="/uploads/icons/partners/6.png" alt=""/>
                        <figcaption></figcaption>
                    </figure>
                </div>
                <div class="about-left partners">
                    <figure class="effect-bubba partners">
                        <img class="img-responsive" src="/uploads/icons/partners/7.jpg" alt=""/>
                        <figcaption></figcaption>
                    </figure>
                </div>
                <div class="about-left partners">
                    <figure class="effect-bubba partners">
                        <img class="img-responsive" src="/uploads/icons/partners/8.jpg" alt=""/>
                        <figcaption></figcaption>
                    </figure>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>