<div class="block block-raboty">
    <div class="container container-shadow">
        <div class="row">
            <div class="col-md-12">
                <div class="block-title">
                    <div class="h2 pb30"><?=$DATA['_parent']['url_name'];?></div>
                    <p>
                        <?=$DATA['_parent']['content'];?>
                    </p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-12">
                <?php foreach($DATA['_block'] as $cat){
                    $images = json_decode($cat['multi_images']);
                ?>
                    <?php foreach($images as $image) { ?>
                    <div class="about-top pt30 grid-1" itemscope itemtype="http://schema.org/ImageObject">
                        <div class="about-left works">
                            <figure class="effect-bubba">
                                <img class="img-responsive" src="<?=$image[0];?>" alt="<?=$image[1];?>" itemprop="image" />
                                <figcaption></figcaption>
                            </figure>
                            <div class="text-content-item">
                                <div class="h3"><?=$cat['url_name'];?></div>
                                <p><?=$cat['content'];?></p>
                            </div>
                        </div>
                    </div>
                    <?php } ?>
                <?php } ?>
            </div>
        </div>
        

    </div>
</div>