<div class="slider">
    <div class="header-bottom">
        <div class="bnr" id="home">
            <div id="top" class="callbacks_container" itemscope itemtype="http://schema.org/ImageObject">
                <ul class="support__items" id="slider4">
                    <?php foreach($DATA['_block'] as $slide){
                        $bg = func::imageToWidth($slide['url_image'],1980);
                    ?>
                    <?php
                            $s = func::getStrDefault($slide['url_desc'], $slide['url_name'],"Слайд");
                            $count = 0;
                            $count++;
                            $preview = func::imageToWidth($slide['url_image'],190);
                            if ($slide["url_name"] && $slide["url_name"] !== "") {?>
                    <li id="<?=$count?>">
                        <div class="slider-text">
                            <div class="slider-text__title h1" itemprop="name">
                                <?=func::templateCityVars($slide['url_name'])?></div>
                            <p class="slider-text__desc" itemprop="description">
                                <?=func::templateCityVars($slide['content'])?>
                            </p>
                            <a href="<?=$slide['button_href'];?>" class="button-button primary-button large">Подробнее</a>
                        </div>
                        <div class="main-background" style="background-image:url(<?=$bg?>);">
                            <img src="<?=$bg?>" alt="<?=$bg?>" itemprop="image" style="display: none;">
                        </div>
                    </li>
                    <?php }}?>
                </ul>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>