<?include_once(Engine::$root.Config::$front_template."/header.html")?>

<section class="section__catalog">
    <div class="container">
        <div class="row catalog-row">
            <div class="col-md-3">
                <div class="section__catalog-main">
                    <span class="catalog__main-title">Каталог</span>
                    <ul class="catalog__main-menu">
                        <li><a href="">Ферра</a>
                            <ul class="catalog__main-submenu">
                                <li><a href="">Алкидные грунты и эмали</a></li>
                                <li><a href="">Хлоркаучуковые грунты и эмали</a></li>
                                <li><a href="">Акриловые грунт-эмали</a></li>
                                <li><a href="">Эпоксидные грунты и эмали</a></li>
                                <li><a href="">Полиуретановые эмали</a></li>
                            </ul>
                        </li>
                        <li><a href="">Архитектор</a></li>
                        <li><a href="">Пенетрикс</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-9">
                <div class="top__content">
                    <!-- <img src="img/card/header.jpg" alt=""> -->
                    <div class="block__text"><div class="h2">Алкидные грунты и эмали ФЕРРА</div></div>
                    <div class="top__content-text">
                        <!-- <img src="" alt=""> -->
                        <p>Высококачественные лакокрасочные материалы для антикоррозийной защиты в Перми. Разработанные и 
                            прошедшие испытания в аккредитованных испытательных центрах схемы покрытий металлоконструкций и 
                            оборудования для различных условий эксплуатации. Работа в режиме технологического сопровождения.
                        </p>
                        <div>
                            <a href="">ФЕРРА&#174;. Общие данные</a>
                            <a href="">ФЕРРА&#174;. Технические описания материалов</a>
                            <a href="">Брошюра ФЕРРА 2017</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row section__row-container">
            <div class="col-md-3">
                <div class="section__top-filter">
                    <ul class="catalog__main-menu">
                        <span class="catalog__main-title">Фильтр</span>
                        <li class="catalog__main-menu__subtitle">
                            <span class="catalog-menu__title"><i class="las la-check-circle"></i> Типы продукции</span>
                            <div class="filter__check">
                                <label for="product1">
                                    <input id="product1" type="checkbox" value="Грунт"> Грунт
                                </label><br>
                                <label for="product2">
                                    <input id="product2" type="checkbox" value="Шпаклевка"> Шпаклевка
                                </label><br>
                                <label for="product3">
                                    <input id="product3" type="checkbox" value="Краска"> Краска
                                </label><br>
                            </div>
                        </li>
                        <li class="catalog__main-menu__subtitle">
                            <span class="catalog-menu__title"><i class="las la-check-circle"></i> По назначению</span>
                            <div class="filter__check">
                                <label for="F1">
                                    <input id="F1" type="checkbox" value="Окраска металлоконструкций"><div>Окраска металлоконструкций</div>
                                </label><hr>
                                <label for="F2">
                                    <input id="F2" type="checkbox" value="Окраска изделий и машиностроения"><div>Окраска изделий и машиностроения</div>
                                </label><hr>
                                <label for="F3">
                                    <input id="F3" type="checkbox" value="Антикоррозийная защита"><div>Антикоррозийная защита</div>
                                </label><hr>
                                <label for="F4">
                                    <input id="F4" type="checkbox" value="Окраска изделий и машиностроения"><div>Окраска изделий и машиностроения</div>
                                </label><hr>
                                <label for="F5">
                                    <input id="F5" type="checkbox" value="Окраска технологического оборудования"><div>Окраска технологического оборудования</div>
                                </label><hr>
                                <label for="F6">
                                    <input id="F6" type="checkbox" value="Окраска судов"><div>Окраска судов</div>
                                </label><hr>
                                <label for="F7">
                                    <input id="F7" type="checkbox" value="Защита древесины"><div>Защита древесины</div>
                                </label>
                                
                            </div>
                        </li>
                        <li class="catalog__main-menu__subtitle">
                            <span class="catalog-menu__title"><i class="las la-check-circle"></i> По объему</span>
                            <div class="filter__check">
                                <label for="V1">
                                    <input id="V1" type="checkbox" value="1 кг"> 1 кг
                                </label>
                                <label for="V2">
                                    <input id="V2" type="checkbox" value="5 кг"> 5 кг
                                </label>
                                <label for="V3">
                                    <input id="V3" type="checkbox" value="25 кг"> 25 кг
                                </label>
                            </div>
                        </li>
                    </ul>
                </div>
                
            </div>

            <div class="col-md-9">
                <div class="content">
                    <div class="row">

                        <div class="col-md-4">
                            <div class="card-item">
                                <img src="/img/garantii-i-service/1.png" alt="">
                                <div class="card-item__title">Ферра&#174;-ФА-013 / 10л.</div>
                                <div class="card-item__subtitle">Недорогой быстросохнущий грунт (улучшенный аналог ГФ-021)</div>
                                <div class="card-item__price">Цена 4500 руб.</div>
                                <div class="card__item-buttons">
                                    <button class="btn btn-success btn-sm">Консультация</button>
                                    <button class="btn btn-primary btn-sm">В корзину</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card-item">
                                <img src="/img/garantii-i-service/1.png" alt="">
                                <div class="card-item__title">Ферра&#174;-ФА-013 / 10л.</div>
                                <div class="card-item__subtitle">Недорогой быстросохнущий грунт (улучшенный аналог ГФ-021)</div>
                                <div class="card-item__price">Цена 4500 руб.</div>
                                <div class="card__item-buttons">
                                    <button class="btn btn-success btn-sm">Консультация</button>
                                    <button class="btn btn-primary btn-sm">В корзину</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card-item">
                                <img src="/img/garantii-i-service/1.png" alt="">
                                <div class="card-item__title">Ферра&#174;-ФА-013 / 10л.</div>
                                <div class="card-item__subtitle">Недорогой быстросохнущий грунт (улучшенный аналог ГФ-021)</div>
                                <div class="card-item__price">Цена 4500 руб.</div>
                                <div class="card__item-buttons">
                                    <button class="btn btn-success btn-sm">Консультация</button>
                                    <button class="btn btn-primary btn-sm">В корзину</button>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="card-item">
                                <img src="/img/garantii-i-service/1.png" alt="">
                                <div class="card-item__title">Ферра&#174;-ФА-013 / 10л.</div>
                                <div class="card-item__subtitle">Недорогой быстросохнущий грунт (улучшенный аналог ГФ-021)</div>
                                <div class="card-item__price">Цена 4500 руб.</div>
                                <div class="card__item-buttons">
                                    <button class="btn btn-success btn-sm">Консультация</button>
                                    <button class="btn btn-primary btn-sm">В корзину</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card-item">
                                <img src="/img/garantii-i-service/1.png" alt="">
                                <div class="card-item__title">Ферра&#174;-ФА-013 / 10л.</div>
                                <div class="card-item__subtitle">Недорогой быстросохнущий грунт (улучшенный аналог ГФ-021)</div>
                                <div class="card-item__price">Цена 4500 руб.</div>
                                <div class="card__item-buttons">
                                    <button class="btn btn-success btn-sm">Консультация</button>
                                    <button class="btn btn-primary btn-sm">В корзину</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card-item">
                                <img src="/img/garantii-i-service/1.png" alt="">
                                <div class="card-item__title">Ферра&#174;-ФА-013 / 10л.</div>
                                <div class="card-item__subtitle">Недорогой быстросохнущий грунт (улучшенный аналог ГФ-021)</div>
                                <div class="card-item__price">Цена 4500 руб.</div>
                                <div class="card__item-buttons">
                                    <button class="btn btn-success btn-sm">Консультация</button>
                                    <button class="btn btn-primary btn-sm">В корзину</button>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="top__content bottom">
                                <div class="block__text"><div class="h2">Алкидные грунты и эмали ФЕРРА</div></div>
                                <div class="top__content-text">
                                    <p>Высококачественные лакокрасочные материалы для антикоррозийной защиты в Перми. Разработанные и 
                                        прошедшие испытания в аккредитованных испытательных центрах схемы покрытий металлоконструкций и 
                                        оборудования для различных условий эксплуатации. Работа в режиме технологического сопровождения.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<?include_once(Engine::$root.Config::$front_template."/footer.html")?>