<?include_once(Engine::$root.Config::$front_template."/header.html")?>
<?=Engine::position('slider')?>
<?=Engine::position('news-block');?>

<?=Engine::position('main-cat-list')?>

  <section class="parallax parallax-penetreks">
    <div class="parallax-wrapper">
      <div class="parallax__text">

        <div class="container parallax__text-container">
            <div class="title-text footer__title-text">
                <div class="h2">Краски нашего производства успешно применяются на более 1000 предприятиях РФ и СНГ:</div>
            </div>
            <div class="center-block">
                <button class="btn btn-primary" type="button">Фотогалерея объектов</button>
            </div>

            <div class="brand-container brand-business">
              <div class="container">
                  <ul class="brand-business__items" itemscope itemtype="http://schema.org/ImageObject">
                      <li><a href="#" title="Brand1"><img itemprop="contentUrl" src="/img/business/gaz.png" alt="Brand1"></a></li>
                      <li><a href="#" title="Brand1"><img itemprop="contentUrl" src="/img/business/ros.jpg" alt="Brand1"></a></li>
                      <li><a href="#" title="Brand1"><img itemprop="contentUrl" src="/img/business/gaz.png" alt="Brand1"></a></li>
                      <li><a href="#" title="Brand1"><img itemprop="contentUrl" src="/img/business/ros.jpg" alt="Brand1"></a></li>
                      <li><a href="#" title="Brand1"><img itemprop="contentUrl" src="/img/business/gaz.png" alt="Brand1"></a></li>
                  </ul>
                  <ul class="brand-business__items" itemscope itemtype="http://schema.org/ImageObject">
                      <li><a href="#" title="Brand1"><img itemprop="contentUrl" src="/img/business/ros.jpg" alt="Brand1"></a></li>
                      <li><a href="#" title="Brand1"><img itemprop="contentUrl" src="/img/business/gaz.png" alt="Brand1"></a></li>
                      <li><a href="#" title="Brand1"><img itemprop="contentUrl" src="/img/business/ros.jpg" alt="Brand1"></a></li>
                      <li><a href="#" title="Brand1"><img itemprop="contentUrl" src="/img/business/gaz.png" alt="Brand1"></a></li>
                      <li><a href="#" title="Brand1"><img itemprop="contentUrl" src="/img/business/ros.jpg" alt="Brand1"></a></li>
                  </ul>
              </div>
          </div>
        </div>
        
    </div>
  </div>
  </section>

<?include_once(Engine::$root.Config::$front_template."/footer.html")?>