<!-- <?include_once(Engine::$root.Config::$front_template."/header.html")?> -->

<div class="box innerText">
    <div class="main">
        <?=Engine::module('mod_path')->main()?>
        <h1><?=$DATA['content_title']?></h1>
        <div class="content p"><?=Func::templateCityVars($DATA['content'])?></div>
        <?=Engine::position('docs-inner')?>
        <?=Engine::position('docs-list')?>
        <?=Engine::position('article-list')?>
        <?=Engine::position('counter-form')?>
        <?=Engine::position('dogovor-list-inner')?>
        <?=Engine::position('otvet-list')?>
        <?=Engine::position('feed-us')?>
        <div class="content p"></div><?=Func::templateCityVars($DATA['content2'])?></div>
    </div>
</div>

<div class="box box1002 fotosBox">
    <div class="main">
        <?=Engine::position('fotos')?>
    </div>
</div>

<!-- <?include_once(Engine::$root.Config::$front_template."/footer.html")?> -->
