<?include_once(Engine::$root.Config::$front_template."/header.html")?>

<div class="dostavka">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumbs">
                    <div class="breadcrumbs-main">
                        <ol class="breadcrumb">
                            <?=Engine::module('mod_path')->main()?>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="textpage__content-title content block-title">
                    <div class="h1"><?=func::templateCityVars($DATA['content_title']);?></div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-12">
                <div class="textpage__content-text1 content">
                    <?=func::templateCityVars($DATA['content2']);?>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="textpage__content-text1 content">
                    <?=func::templateCityVars($DATA['content']);?>
                </div>
            </div>
        </div>

    </div>
</div>

<?=Engine::position('advantage-parallax-block-3')?>

<div class="block pb70">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-6 col-md-offset-3">
                <?=Engine::position('forms');?>
            </div>
        </div>
    </div>
</div>

<?include_once(Engine::$root.Config::$front_template."/footer.html")?>