// Colors
$black-color: #202020;
$main-color: #363636;
$grey-color: #575757;

$yellow-color: #f3ad2c;
$blue-color: #337ab7;
$red-color: #e02020;
$green-color: #27db27;

$primary-color: #d40023;
$secondary-color: #49a7d8;

